<b>Player One<b>
<br>
<%= fname %> <%= lname %>
<br>
<%= gname %>
<br>
<br>
<b>Player Two<b>
<br>
<%= fname2 %> <%= lname2 %>
<br>
<%= gname2 %>

<form method="post" action="/last">
<input type="text" name="fname" value=<%= fname %> hidden>
<input type="text" name="lname" value=<%= lname %> hidden>	
<input type="text" name="gname" value=<%= gname %> hidden>
<input type="text" name="fname2" value=<%= fname2 %> hidden>
<input type="text" name="lname2" value=<%= lname2 %> hidden>
<input type="text" name="gname2" value=<%= gname2 %> hidden>
</form>